:root {
  --color-base-size: 85%;
}

html {
  background: linear-gradient(#000 1px, #0000 0),
    linear-gradient(90deg, #000, #0000, #000),
    linear-gradient(in oklch longer hue -2deg, #a00, #a00);
  background-size: 100% 100%;
  background-blend-mode: color-burn;
  height: 100vh;
}

.inactive {
  display: none;
}

body main small {
  display: block;
  width: 100%;
  text-align: center;
}

.textInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.textInputContainer input {
  width: 80%;
}

input {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  margin: 0;
  position: absolute;
}

.colorContainer {
  gap: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
}

.color {
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1;
}

.color > img {
  z-index: 0;
  width: var(--color-base-size);
  height: var(--color-base-size);
  display: flex;
  justify-content: center;
  transition: all 500ms;
  filter: grayscale(50%);
  filter: opacity(20%);
  will-change: scale;
}

.questionContainer {
  display: flex;
  justify-content: space-evenly;
}

.loadingImage {
  height: 100%;
  width: 100%;
}

.selected {
  transition: all 1s;
  /* background: linear-gradient(#000 1px, #0000 0),
    linear-gradient(90deg, #000, #0000, #000),
    linear-gradient(in oklch longer hue -2deg, #a00, #a00); */
}

.selected > img {
  z-index: 1;
  will-change: scale;
  transition: all 700ms;
  scale: 1.2;
  filter: grayscale(0);
  filter: opacity(1);
}

.choiceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  animation: text-animation 3s infinite;
  font-family: "Permanent Marker";
  width: max-content;
  font-size: calc(6px + 4vw);
  transition: all 1s;
}

.choiceContainer > .noAnimation {
  animation: none;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes text-animation {
  0% {
    color: black;
  }
  50% {
    color: rgb(122, 122, 122);
  }
}
