:root {
  --color-base-size: 85%;
}

html {
  background: linear-gradient(#000 1px, #0000 0),
    linear-gradient(90deg, #000, #0000, #000),
    linear-gradient(in oklch longer hue -2deg, #a00, #a00);
  background-size: 100% 100%;
  background-blend-mode: color-burn;
  height: 110vh;
}

.inactive {
  display: none;
}

.flex {
  display: flex;
  align-items: baseline;
}

/* HIDE CHECKBOXES */
input {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  margin: 0;
  position: absolute;
}

.colorContainer {
  gap: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5% 5% 2.5% 5%;
}

.color {
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1;
}

.color > img {
  z-index: 0;
  width: var(--color-base-size);
  height: var(--color-base-size);
  max-height: 150px;

  display: flex;
  justify-content: center;
  transition: all 500ms;
  filter: grayscale(50%);
  filter: opacity(20%);
  will-change: scale;
}

.questionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

@media only screen and (max-width: 650px) {
  .questionContainer {
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
  }
}

.questionContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paste-button ~ h3 {
  font-family: "Permanent Marker";
  height: fit-content;
  margin: 0;
  color: rgb(185, 185, 185);
  padding-left: 1rem;
  font-size: calc(10px + 2vw);
}

.loadingImage {
  height: 100%;
  width: 100%;
}

.selected {
  transition: all 1s;
}

.selected > img {
  z-index: 1;
  will-change: scale;
  transition: all 700ms;
  scale: 1.2;
  filter: grayscale(0);
  filter: opacity(1);
}

.choiceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  animation: text-animation 3s infinite;
  font-family: "Permanent Marker";
  width: max-content;
  font-size: calc(30px + 2vw);
  transition: all 1s;
  margin-top: 0;
}

@keyframes text-animation {
  0% {
    color: #986d24;
  }
  50% {
    color: rgb(185, 185, 185);
  }
  100% {
    color: #986d24;
  }
}

#heroColorInfo {
  animation: none;
  color: rgb(185, 185, 185);
}

#randomCards > h3 {
  font-family: "Permanent Marker";
  height: fit-content;
  margin: 0;
  color: rgb(185, 185, 185);
  padding-left: 1rem;
  font-size: calc(10px + 2vw);
}

@media only screen and (max-width: 650px) {
  #heroText {
    font-size: calc(10px + 3vw);
  }
}
